.site-name {
    color: #333333;
    font-size: 20px;
}

.navigation li {
    display: inline;
    padding: 0 15px;
}

.navigation li a {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.navigation li a.active {
    color: #4ac4f3;
}

.login-button {
    color: #4ac4f3;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 12px 36px;
    border: none;
    box-shadow: 0 0 10px #e7e7e7;
}
